main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* justify-content: center;
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  padding: 20px 20px 50px; */
}

.game-container {
  display: flex;
  justify-content: center;
  padding: 20px 20px 50px;
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100px;
  border-radius: 5px;
  position: relative;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #39813a;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../images/back.png");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

.ranking {
  width: 100%;
  max-width: 250px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  margin-top: 103px;
}

.ranking h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

#ranking-list {
  list-style: none;
  padding: 0;
}

#ranking-list li {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 90%;
  width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
}

#modal-titulo {
  color: #4caf50;
  font-size: 2.5em;
  margin-bottom: 10px;
}

#modal-mensagem {
  font-size: 1.2em;
  margin-bottom: 25px;
  color: #333;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s;
  margin: 5px 10px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-overlay.active {
  display: flex;
  opacity: 1;
}

.modal-overlay.active .modal-content {
  transform: scale(1);
}

@media (max-width: 1000px) {
  .game-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  main {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .ranking {
    max-width: 800px;
    margin-top: 0;
    width: 90%;
    order: 2;
  }
}

@media (max-width: 550px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
  }

  header {
    font-size: 1em;
    padding: 20px;
    width: 90%;
  }

  .modal-content {
    padding: 20px;
  }

  #modal-titulo {
    font-size: 2em;
  }

  #modal-mensagem {
    font-size: 1em;
  }

  .modal-content button {
    padding: 8px 20px;
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

.card {
  aspect-ratio: 3/4;
  border-radius: 5px;
  position: relative;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}
